.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  display: grid;
  place-items: center;

  .modal {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #151515;
    border-radius: 25px;

    .lose {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin: 1rem 0;
        font-size: 2rem;
      }

      .info {
        text-transform: uppercase;
      }

      .solution {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
      }
    }

    .win {
      .title {
      }

      .info {
      }
    }

    .restart {
      margin-top: 1.5rem;
      width: 100%;
      padding: 0.5rem 0;
      border-radius: 10px;
      background-color: #050505;
      color: yellow;
      font-weight: 500;
      font-size: 1.2rem;
      .text {
      }
    }
  }
}
