.wordle {
  height: 100%;
  display: flex;
  flex-direction: column;

  .navigation {
    width: 100%;
    padding: 0.5rem 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #414141;

    .title {
      font-family: "Poppins";
      font-size: 1.75rem;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 2px;
      margin: 0;
      padding: 0;
    }

    .icon-box {
      cursor: pointer;
      display: grid;
      place-content: center;

      svg {
        width: 32px;
        height: 32px;
        color: #ccc;
        transition: all 0.15s ease-in;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    .grid {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .row {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        .square {
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: 1.25rem;
          font-weight: 500;
          width: 60px;
          height: 60px;
          border-radius: 10px;
          background-color: #313131;

          &:hover {
            background-color: #232323;
          }
        }
      }

      .current {
        .filled {
          animation: bounce 0.2s ease-in-out forwards;
        }
      }

      .past {
        .square {
          border-bottom: 3px solid;
          border-color: #121212;

          &:hover {
            background-color: none;
          }
        }

        .green {
          --background-color: rgba(50, 180, 10, 0.25);
          --border-color: #5ac85a;
          // --color: limegreen;
          animation: flip 0.5s ease forwards;
        }

        .yellow {
          --background-color: rgba(255, 238, 0, 0.25);
          --border-color: #e2cc68;
          // --color: yellow;
          animation: flip 0.5s ease forwards;
        }

        .grey {
          --background-color: rgba(110, 110, 110, 0.25);
          --border-color: #414141;
          --color: #aaa;
          animation: flip 0.5s ease forwards;
        }

        .square:nth-child(2) {
          animation-delay: 0.4s;
        }

        .square:nth-child(3) {
          animation-delay: 0.8s;
        }

        .square:nth-child(4) {
          animation-delay: 1.2s;
        }

        .square:nth-child(5) {
          animation-delay: 1.6s;
        }
      }
    }

    /* alphabetical keyboard */
    .keypad {
      max-width: 400px;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.35rem;

      .letter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 50px;
        background-color: #232323;
        color: #fff;
        border-radius: 10px;
        transition: all 0.3s ease-in;
      }

      .green {
        background-color: rgba(50, 180, 10, 0.5);
        border-color: #5ac85a;
      }

      .yellow {
        background-color: rgba(255, 238, 0, 0.5);
        border-color: #e2cc68;
      }

      .grey {
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #000000;
      }
    }

    /* Advanced (normal) keyboard */
    .advanced-keyboard {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 0.5rem;
      // background-color: #767676;

      .row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0.25rem;

        .key {
          cursor: pointer;
          height: 50px;
          width: 30px;
          display: grid;
          place-content: center;
          background-color: #434343;
          border-radius: 5px;
          transition: all 0.05s ease-in;

          &:hover {
            background-color: #232323;
          }
        }

        .green {
          background-color: rgba(50, 180, 10, 0.5);
          border-color: #5ac85a;

          &:hover {
            background-color: rgba(50, 180, 10, 0.75);
          }
        }

        .yellow {
          background-color: rgba(255, 238, 0, 0.5);
          border-color: #e2cc68;

          &:hover {
            background-color: rgba(255, 238, 0, 0.75);
          }
        }

        .grey {
          background-color: rgba(0, 0, 0, 0.5);
          border-color: #000000;
          color: #aaa;

          &:hover {
            background-color: rgba(0, 0, 0, 0.75);
          }
        }

        .action {
          cursor: pointer;
          width: 47px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.1s ease-in;

          svg {
            color: #fff;
          }

          .enter-svg {
            width: 25px;
            height: 25px;
          }

          .backspace-svg {
            width: 20px;
            height: 20px;
          }
        }

        .backspace {
          background-color: rgba(255, 238, 0, 0.5);

          &:hover {
            background-color: rgba(255, 238, 0, 0.75);
          }
        }

        .enter {
          background-color: rgba(52, 228, 8, 0.5);

          &:hover {
            background-color: rgba(52, 228, 8, 0.75);
          }
        }
      }
    }
  }
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateY(0);
    background-color: #323232;
    border-color: #121212;
  }

  45% {
    transform: rotateY(90deg);
    background-color: #323232;
    border-color: #121212;
  }

  55% {
    transform: rotateY(90deg);
    background: var(--background-color);
    border-color: var(--border-color);
    color: var(--color);
  }

  100% {
    transform: rotateY(0);
    background: var(--background-color);
    border-color: var(--border-color);
    color: var(--color);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Media queries */
@media screen and (max-width: 375px) {
  .wordle {
    overflow-x: hidden;
    
    .navigation {
      .title {
        font-size: 1.5rem;
      }
      .icon-box {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .game {
      .grid {
        .row {
          .square {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
